body {
    /* margin: 0; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    /* display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 1000px;
  margin: auto; */
    background-color: #dddddd;
    text-align: left;
    background-position: center;
    background-image: url("./src/imgs/background-028 (1).png");
    background-size: auto;
}


/* #header {
    display: flex;
    justify-content: center;
    height: 5rem;
    padding: 1rem;
    background-color: #234256;
    margin: 0 auto;
} */

button {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    background-color: #81a5ad;
    border-radius: 4px;
    height: 2rem;
    width: max-content;
    color: white;
    font-size: 14px;
    justify-self: center;
}

button:hover {
    background-color: #f05454;
    border: #dddddd solid 2px;
    color: #30475e;
}

.btn:hover {
    background-color: #f05454;
    border: #dddddd solid 2px;
    color: #30475e;
}


}
h1 {
    font-family: "Oswald", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #f05454;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(83, 73, 218);
}
h3,
h4,
p {
    font-family: "Nanum Gothic";
    margin: 0;
}
img {
    /* border-radius: 20%; */
    
    width: auto;
    text-align: center;
}
.user-text {
    /* padding: 15% 5%; */
    
    color: #30475e;
    text-align: left;
    margin: 10% 5%;
}
.user-image {
    text-align: center;
    width: auto;
    margin-top: inherit;
}
.card {
    text-align: left;
    border: black solid 2px;
    background-color: #dddddd;
    padding: 1rem;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #234256;
    display: block;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-text {
    font-size: 30px;
    white-space: normal;
    overflow: scroll;
    text-align: left;
    font-family: 'Nanum Gothic';
    font-weight: 400;
}
input[type=text] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
input,
textarea {
    font-family: "Nanum Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: inherit;
}
.landing-title {
    font-family: 'Oswald';
    font-size: 60px;
    font-weight: bold;
    color: #f05454;
    text-align: left;
}
.landing-text {
    color: #30475e;
    font-size: 30px;
    font-style: normal;
}
#index-container {
    width: max-content;
    align-items: center;
    padding: 10% 20%;
    /* height: 800px;
    width: 1000px; */
    /* align-content: center; */
    /* width: auto;
    background-color: #dddddd;
    border: #000000 1px;
    border: black solid 2px;
    padding: 1rem;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #f05454; */
}
.new-user-container {
    text-align: left;
    /* padding: 15rem; */
    /* height: 800px;
    width: 1000px; */
}
.landing {
    /* align-content: center; */
    
    background-color: #dddddd;
    border: #222831 1px;
    border: #222831 solid 2px;
    padding: 1rem;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #f05454;
}
.sidenav {
    height: 400px;
    width: 300px;
    background-color: #222831;
    /* border: #dddddd 1px;
    border: #f05454 solid 2px; */
    
    box-shadow: 3px 4px #f05454;
}
.login-image {
    text-align: center;
    width: 250px;
    margin-top: 30px;
}
.login-main-text {
    text-align: left;
    color: #dddddd;
    margin-left: 20px;
}
#new-pet-form {
    text-align: left;
    color: #dddddd;
    margin-left: 20px;
}